@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --color-very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --color-very-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
  --bg-cyan-transparent: linear-gradient(hsla(178, 100%, 50%, .6) 100%, hsla(178, 100%, 50%, .6) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-width: 375px;
  min-height: 100vh;

  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  color: var(--color-white);

  background: var(--color-very-dark-blue-main-bg);
}

.card {
  width: 350px;
  padding: 23.5px;
  border-radius: 15px;
  background: var(--color-very-dark-blue-card-bg);
  color: var(--color-soft-blue);
  box-shadow: 0 23px 10px 17px rgba(0, 0, 0, .1), 0 15px 20px 50px rgba(0, 0, 0, .05);
}

.nft_image {
  width: 303px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 6px;
}

.nft_image_container::before {
  position: absolute;
  content: '';
  display: block;
  width: 303px;
  height: 303px;
  border-radius: 6px;
  background: url('images/icon-view.svg') no-repeat center, var(--bg-cyan-transparent);
  background-size: 33px auto, auto;
  transition: all .2s ease-in-out;
  opacity: 0;
}

.nft_image_container:hover::before {
  opacity: 1;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-cyan);
}

.title {
  margin-bottom: 17px;
  font-size: 22px;
  font-weight: 600;
}

.description {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25.5px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.price {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-cyan);
}

.credits {
  border-top: solid 1px var(--color-very-dark-blue-line);
  padding: 16px 0 7.5px;
  font-weight: 300;
}

.avatar {
  width: 33px;
  height: auto;
  border: solid 1.4px var(--color-white);
  border-radius: 100%;
  margin-right: 17px;
}

@media (prefers-reduced-motion) {
  .nft_image_container::before {
    transition: none;
  }
}
